* {
  padding: 0;
  margin-left: 0;
  box-sizing: border-box;
}

/*index*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 100%;
  min-height: 100vh;
}

nav.row.navbar.navbar-expand-lg {
  margin-right: 1px;
  background-color: #eba83a;
}
nav.row.navbar.navbar-expand-lg ul.navbar-nav li {
  list-style: none;
}
nav.row.navbar.navbar-expand-lg ul.navbar-nav li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}
nav.row.navbar.navbar-expand-lg ul.navbar-nav li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
nav.row.navbar.navbar-expand-lg ul.navbar-nav li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
nav.row.navbar.navbar-expand-lg ul.navbar-nav li a.nav-link:hover {
  color: #fff;
}
nav.row.navbar.navbar-expand-lg ul.navbar-nav li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
nav.row.navbar.navbar-expand-lg ul.navbar-nav li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
}

.fs-1.mt-2.mb-2 {
  text-decoration: none;
  padding: 40px 80px;
  color: #000;
  border: 3px solid #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}

.fs-1.mt-2.mb-2:hover {
  cursor: none;
  font-weight: 900;
  letter-spacing: 5px;
  border: 7px solid #fff;
}

div.row.row-cols-1.row-cols-md-3.g-4 {
  display: flex;
  margin: 1rem;
}

a.gotopbtn {
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

footer.row.text-center {
  margin-right: 1px;
  background-color: #eba83a;
}

@media (max-width: 768px) {
  nav div a img {
    width: 90px;
    height: 65px;
  }
  div.buttons-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 9.5rem;
  }
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0), -9px -9px 16px rgba(0, 0, 0, 0);
  margin-bottom: 1em;
}
.button a {
  color: #000;
}
.button:hover {
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0);
  color: #fff;
}

.facebook:hover {
  background: #3b5998;
}

.twitter:hover {
  background: #1da1f2;
}

.gmail:hover {
  background: #f14336;
}
.gmail:hover a {
  color: #fff;
}

.github:hover {
  background: #000;
}
.github:hover a {
  color: #fff;
}

.linkedin:hover {
  background: #0077b7;
}
.linkedin:hover a {
  color: #fff;
}

.reddit:hover {
  background: #ff6314;
}

/*about*/
.parrafoEmpresa p {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.6;
  border-style: double;
  margin: 20px;
  padding: 20px;
}

/*gallery*/
h2 {
  font-family: "Merriweather Sans", sans-serif;
}
h2.fs-1.mt-2.mb-2 {
  text-decoration: none;
  padding: 40px 80px;
  color: #000;
  border: 3px solid #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}
h2.fs-1.mt-2.mb-2:hover {
  cursor: none;
  font-weight: 900;
  letter-spacing: 5px;
  border: 7px solid #fff;
}

.galeria img {
  padding: 20px;
  width: 100%;
  height: 500px;
}
.galeria img:hover {
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition: all 0.8s ease !important;
  transform: scale(1.05) !important;
  z-index: 2;
}

/*location*/
.container-fluid .col-sm-12.col-md-12.col-lg-6.d-flex.align-items-center.py-3 .list-group {
  font-family: "Merriweather Sans", sans-serif;
  font-size: medium;
}

section article ul.list-group {
  width: 100%;
}

/*contact*/
section form div label {
  font-family: "Merriweather Sans", sans-serif;
  font-size: medium;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
}
section form div label#trabjo {
  font-family: "Merriweather Sans", sans-serif;
  font-size: medium;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
}

section form div input#nombre, section form div input#direccionDos, section form div input#direccionUno, section form div input#empresa, section form div input#apellido {
  width: 90%;
  margin-left: 1rem;
  border-radius: 5px;
}
section form div input.btn {
  height: 50px;
  font-size: 25px;
  outline: none;
  border: none;
  color: #000;
  border-radius: 50px;
  width: 100%;
}
section form div input#enviar {
  background-color: #eba83a;
  box-shadow: -6px -6px 10px rgba(235, 167, 58, 0), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
section form div input#enviar:focus {
  background-color: #eba83a;
  font-size: 24px;
  box-shadow: inset -6px -6px 10px rgb(235, 168, 58), inset 6px 6px 10px rgba(0, 0, 0, 0.2);
}
section form div input#borrar {
  background-color: #eba83a;
  box-shadow: -6px -6px 10px rgba(0, 0, 0, 0), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
section form div input#borrar:focus {
  background-color: #eba83a;
  font-size: 24px;
  box-shadow: inset -6px -6px 10px rgb(235, 168, 58), inset 6px 6px 10px rgba(0, 0, 0, 0.2);
}

section form div input#direccionDos {
  width: 90%;
}
section form div select {
  margin-left: 1rem;
  width: 90%;
}
section form div textarea#datosDelTrabajo {
  width: 95%;
  border-radius: 5px;
}/*# sourceMappingURL=estilos.css.map */