* {
    padding: 0;
    margin-left: 0;
    box-sizing: border-box;
}
/*index*/
body {
    margin: 100%;
    height: 100%;
}
ul.navbar-nav {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: x-large;
    transition: all 2s;
}
ul.navbar-nav a:hover {
    border-style:double; 
    border-radius: 10px;
}
h3 {
    border: solid;
    border-style: outset;
    margin: 1rem 0 1rem 0;
}
/*about*/
.parrafoEmpresa p {
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 1.6;
    border-style: double;
    margin: 20px;
    padding: 20px;
}
/*gallery*/
h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: x-large;
    text-align: center;
}
/*location*/
ul.list-group {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: medium;
}
/*contact*/
h1 {
    font-family: 'Merriweather Sans', sans-serif;
}
label {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 5px;
}
input#nombre {
    width: 85%;
    margin-left: 1rem;
    border-radius: 5px;
}
input#apellido {
    width: 85%;
    margin-left: 1rem;
    border-radius: 5px;
}
input#empresa {
    width: 85%;
    margin-left: 1rem;
    border-radius: 5px;
}
input#direccionUno {
    width: 85%;
    margin-left: 1rem;
    border-radius: 5px;
}
input#direccionDos {
    width: 80%;
    margin-left: 1rem;
    border-radius: 5px;
}
select {
    font-weight: bold;
    width: 100%;
    margin-left: 1rem;
    border-radius: 5px;
}
label#trabjo {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 5px;
}
textarea#datosDelTrabajo {
    width: 95%;
    border-radius: 5px;
}
.btn.btn-warning {
    width: 100%;
}
footer {
    display: flex;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: x-large;
}