* {
  padding: 0;
  margin-left: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*index*/

body {
  margin: 100%;
  height: 100%;
}

nav.row.navbar.navbar-expand-lg {
  margin-right: 1px;
  background-color: #eba83a;
}

ul.navbar-nav li {
  list-style: none;
}

ul.navbar-nav li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}

ul.navbar-nav li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

ul.navbar-nav li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

ul.navbar-nav li a.nav-link:hover {
  color: #fff;
}

ul.navbar-nav li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}

ul.navbar-nav li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.h3 {
  text-decoration: none;
  color: #000;
  font-size: large;
  letter-spacing: 1px;
  position: relative;
  transition: 1s;
  border: solid;
  border-style: outset;
}

.h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 1s;
  transform: rotatex(90deg);
  z-index: -1;
}

.h3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 1s;
  transform: rotatey(90deg);
  z-index: -1;
}

.h3:hover:before {
  transform: rotatex(0deg);
}

.h3:hover:after {
  transform: rotatey(0deg);
}

.h3:hover {
  color: white;
}

a.gotopbtn {
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

/*about*/

.parrafoEmpresa p {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.6;
  border-style: double;
  margin: 20px;
  padding: 20px;
}

/*gallery*/

h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: x-large;
  text-align: center;
}

div ul li {
  margin-left: 50px;
  list-style: none;
}

div ol li {
  margin-left: 50px;
  list-style: none;
}

/*location*/

ul.list-group {
  font-family: "Merriweather Sans", sans-serif;
  font-size: medium;
}

/*contact*/

h1 {
  font-family: "Merriweather Sans", sans-serif;
}

label {
  font-family: "Merriweather Sans", sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 5px;
}

input#nombre {
  width: 85%;
  margin-left: 1rem;
  border-radius: 5px;
}

input#apellido {
  width: 85%;
  margin-left: 1rem;
  border-radius: 5px;
}

input#empresa {
  width: 85%;
  margin-left: 1rem;
  border-radius: 5px;
}

input#direccionUno {
  width: 85%;
  margin-left: 1rem;
  border-radius: 5px;
}

input#direccionDos {
  width: 80%;
  margin-left: 1rem;
  border-radius: 5px;
}

select {
  font-weight: bold;
  width: 100%;
  margin-left: 1rem;
  border-radius: 5px;
}

label#trabjo {
  font-family: "Merriweather Sans", sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 5px;
}

textarea#datosDelTrabajo {
  width: 95%;
  border-radius: 5px;
}

.btn.btn-warning {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: x-large;
  background-color: #eba83a;
}
