/*contact*/

section form div label {
  font-family: map-get($estilos, font-family);
  font-size: map-get($estilos, font-size);
  border-radius: map-get($estilos, border-radius);
  font-weight: map-get($estilos, font-weight);
  margin-left: map-get($estilos, margin-left);
  &#trabjo {
    font-family: map-get($estilos, font-family);
    font-size: map-get($estilos, font-size);
    border-radius: map-get($estilos, border-radius);
    font-weight: map-get($estilos, font-weight);
    margin-left: map-get($estilos, margin-left);
  }
}

section form div input {
  &#nombre {
    width: 90%;
    margin-left: $margenUrem;
    border-radius: 5px;
  }
  &#apellido {
    @extend #nombre;
  }
  &#empresa {
    @extend #nombre;
  }
  &#direccionUno {
    @extend #nombre;
  }
  &.btn {
    height: 50px;
    font-size: 25px;
    outline: none;
    border: none;
    color: #000;
    border-radius: 50px;
    @include ancho(100%);
  }
  &#enviar {
    background-color: #eba83a;
    box-shadow: -6px -6px 10px rgba(235, 168, 58, 1),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  }
  &#enviar:focus {
    background-color: #eba83a;
    font-size: 24px;
    box-shadow: inset -6px -6px 10px rgba(235, 168, 58, 1),
      inset 6px 6px 10px rgba(0, 0, 0, 0.2);
  }
  &#borrar {
    background-color: #eba83a;
    box-shadow: -6px -6px 10px rgba(235, 168, 58, 1),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  }
  &#borrar:focus {
    background-color: #eba83a;
    font-size: 24px;
    box-shadow: inset -6px -6px 10px rgba(235, 168, 58, 1),
      inset 6px 6px 10px rgba(0, 0, 0, 0.2);
  }
}

section form div {
  & input#direccionDos {
    @include ancho(90%);
    @extend #nombre;
  }
  & select {
    margin-left: $margenUrem;
    @include ancho(90%);
    @extend #nombre;
  }
  & textarea#datosDelTrabajo {
    @include ancho(95%);
    border-radius: $bordesRadios;
  }
}
