/*index*/
body {
    margin: 100%;
    height: 100%;
}

nav.row.navbar.navbar-expand-lg {
    margin-right: 1px;
    background-color: #EBA83A;
}

.row.navbar.navbar-expand-lg .container-fluid .collapse.navbar-collapse.justify-content-end{
    .navbar-nav {
        font-family: $fuente;
        font-size: $fuenteXlarge;
        transition: all 2s;
        .nav-item .nav-link.active{
            color: #000;
            font-weight: 600;
            text-decoration: underline;
                
        }
    }
}

img.d-block.w-100 {
    padding: 1rem;
}

footer.row.text-center.text-white{
    margin-right: 1px;
    background-color: #EBA83A;
}

@media (max-width: 768px) {

    nav div a img {
        width: 90px;
        height: 65px;
    }
}