$fuente: "Merriweather Sans", sans-serif;
$fuenteXlarge: x-large;
$fuenteMedium: medium;
$fuenteLarge: large;
$bordesRadios: 5px;
$margenUrem: 1rem;
$width: 85%;
$estilos: (
  font-family: $fuente,
  font-size: $fuenteMedium,
  border-radius: $bordesRadios,
  font-weight: bold,
  margin-left: 20px,
);

@mixin ancho($ancho) {
  width: $ancho;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$neu-shadow: 9px 9px 16px rgba(0, 0, 0, 0), -9px -9px 16px rgba(0, 0, 0, 0);

$new-shadow-active: 0px 0px 10px 6px rgba(0, 0, 0, 0);
