$fuente: "Merriweather Sans", sans-serif;
$fuenteXlarge: x-large;
$fuenteMedium: medium;
$fuenteLarge: large;
$bordesRadios: 5px;
$margenUrem: 1rem;
$width: 85%;
$estilos: (
  font-family: $fuente,
  font-size: $fuenteMedium,
  border-radius: $bordesRadios,
  font-weight: bold,
  margin-left: 20px,
);

@mixin ancho($ancho) {
  width: $ancho;
}
